body,html {
width:100vw;
height:100vh;
background-color:#FFF;
font-family:Arial;
margin:0px;
padding:0px;
}

body a {
color:#000;
text-decoration:none;
}

body a:hover {
color:#000;
text-decoration:underline;
}

header {
width:100%;
height:auto;
border:solid;
border-top:none;
border-left:none;
border-right:none;
background-color:#F5F5F5;
overflow:auto;
border-color:#D3D3D3;
border-width:1pt;
margin:0px;
padding:0px;
}

.title {
font-size:1.2em;
height:100%;
padding-left:3%;
font-weight:700;
display:inline-block;
}

.username {
color:#000;
height:100%;
display:inline-block;
float:right;
padding-right:3%;
}

.username a {
color:#000;
}

.username a:hover {
text-decoration:underline;
}

.nav_icons {
display:inline-block;
height:100%;
width:20%;
padding-left:5em;
}

.fa-search,.fa-info,.fa-plus {
color:#000;
padding-left:3%;
font-size:1.2em;
	transition: all 0.2s linear;
}
.fa-plus:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);

}
.fa-search:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.fa-info:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.headliners_list {
	width:47%;
	float:left;
	margin-top: 2em;
}

.headliner {
margin-left:.3em;
width:100%;
height:auto;
border:solid;
display:inline-block;
position:relative;
opacity:1;
border-color:#D3D3D3;
border-width:0;
	transition:all 0.2s linear;
}
.headliner:hover {
opacity:0.8;
	-webkit-transform: scale(1.015);
	-moz-transform: scale(1.015);
	-ms-transform: scale(1.015);
	-o-transform: scale(1.015);
	transform: scale(1.015);
}

.preview_img {
width:100%;
float:left;
}

.headliner .preview_content {
display:block;
position:absolute;
left:0px;
bottom:0px;
width:100%;
box-sizing:border-box;
color:#fff;
background-color:rgba(0,0,0,.3);
padding:10px;
}

.headliners_title {
margin-left:1em;
width:47%;
}

.headliner .preview_content a {
color:#FFF;
opacity:0.8;
}

.latest_news {
margin-right:.3em;
float:right;
width:47%;
margin-top: 2em;
}
.pieceofnews {
	width: 100%;
	display: inline-block;
	overflow: auto;
	border:solid;
	border-width:1pt;
	border-color: #D3D3D3;
	border-right: none;
	border-top: none;
	border-bottom: none;
	transition: all 0.15s ease-in-out;

}

.pieceofnews:hover {
border-left-color:#000;
border-left-width:2pt;
}

.pieceofnews h4 {
margin-left:.5em;
margin-top:.5em;
margin-bottom:.5em;
}

.pieceofnews_summary{
margin-top:.5em;
margin-left:.5em;
}
.pieceofnews .tags{
	margin-left:.5em;
}
.pieceofnews .author_date{
	margin-left:.5em;
}
.pieceofnews a {
color:#000;
opacity:0.7;
}

.actually {
float:left;
width:47%;
margin-left:.5em;
}

.show_more {
width:100%;
align-self:center;
background-color:#F5F5F5;
border:solid;
height:7%;
border-color:#D3D3D3;
border-width:1pt;
}

.footer {
width:100%;
}

.footer p {
color:#000;
opacity:0.4;
border-top-color:#D3D3D3;
border-width:1pt;
}