body, html {
	width: 100vw;
	height: 100vh;
	padding:0;
	margin:0;
	background-color: white;
	font-family: Arial;
}
body a {
	color:black;
	text-decoration: none;
}
body a:hover{
	color:black;
	text-decoration: underline;
}
header {
	width: 100%;
	height: auto;
	border: solid;
	border-top: none;
	border-left: none;
	border-right: none;
	padding:0;
	margin: 0;
	border-width: 1pt;
	border-color: #D3D3D3;
	background-color: #F5F5F5;
	overflow: auto;
}
.title {
	font-size: 1.2em;
	height: 100%;
	padding-left: 3%;
	font-weight: bold;
	display: inline-block;
}
.username {
	color: #000;
	height: 100%;
	display: inline-block;
	float: right;
	padding-right: 3%;
}
.username a{
	color: black;
}
.username a:hover{
	text-decoration: underline;
}
.nav_icons{
	display: inline-block;
	height: 100%;
	width: 20%;
	padding-left: 5em;

}
.glyphicon{
	font-size: 1.2em;
}
.glyphicon.glyphicon-plus, .glyphicon.glyphicon-home,.glyphicon.glyphicon-search{
	color:black;
	padding-left: 3%;
}
.headliners{
	margin-left:0.5em; 
	overflow: auto;
	width: 48%;
	height: auto;
	border:solid;
	border-width: 0;
	border-color: #D3D3D3;
	display:inline-block;   
    position:relative;
    opacity: 1;
}
.headliners:hover{
	opacity: 0.8;
}
.preview_img{
	width:100%;
	float:left;
}
.headliners .preview_content{
	display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    color:#fff;
    padding:10px;
    background-color:rgba(0,0,0,.3);
}
.headliners_h2{
	margin-left: 1em;
}
.headliners .preview_content a{
	color:white;
	opacity: 0.8;
}
.latest_news{
	margin-right:0.5em; 
	display: inline block;
	overflow: auto;
	float: right;
	width:49%;
}
.pieceofnews{
	width: 100%;
	height: ;
	display: inline-block;
	overflow: auto;
	border:solid;
	border-width:1pt;
	border-color: #D3D3D3;
	border-right: none;
	border-top: none;
	border-bottom: none;
}
.pieceofnews:hover{
	border-left-color: black;
	border-left-width: 2pt;
}
.pieceofnews h4{
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.pieceofnews p{
	margin-top: 0.5em;
	margin-left: 0.5em;
}
.pieceofnews a{
	color: black;
	opacity: 0.7;
}
.actually{
	display: inline block;
	float: left;
	overflow: auto;
	width:48%;
	margin-left:0.5em; 

}
.show_more{
	width:100%;
	align-self: center;
	background-color: #F5F5F5;
	border:solid;
	border-width: 1pt;
	border-color:#D3D3D3;
	height: 7%;
}
.footer{
	width:100%;
}
.footer p{
	color:black;
	opacity: 0.4;
	border-top-color:#D3D3D3;
	border-width: 1pt;
}